<footer class="footer text-muted bg-light">
  <div class="container">
    <span>© <%= Date.today.year %> Sparks </span>
    <ul class="list-inline mb-0 float-right">
      <li class="list-inline-item mr-3">Terms</li>
      <li class="list-inline-item mr-3">Privacy</li>
    </ul>
  </div>
</footer>
